// Goolge Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Teko:wght@300;400;500&display=swap');
// Fontawesome
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import 'partials/_vars.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  width: 100vw;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  font-size: $main-txt-size;
  margin: auto;
}

.top-bar {
  font-family: 'Teko';
  text-align: center;

    a {
      color: $top-links-col;
    }

    &-menu ul {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $top-txt-size;

      li {
        padding: 10px 22px;
      }

      li:hover {
        background-color: $top-hov-links-col;
      }
    }

    &-logo {
      padding: 40px 0;
      max-height: 220px;

        img {
          max-width: 100%;
        }
    }
}

.home-content {
  background-image: url('/img/00-bg.jpg');
  background-size: 100%;

    &-products {
      font-family: 'Open Sans';

        h2 {
          padding: 30px 0;
          font-size: $home-title-size;
          font-weight: 600;
          color: $content-txt-col;
          text-shadow: 1px 1px 8px #FFF;
          text-transform: uppercase;
        }

        &-list {
          display: flex;
          flex-wrap: wrap;

            li {
              width: calc(100% / 3);
              padding: 10px;

                img {
                  max-width: 100%;
                  box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
                }
            }
        }
    }
}

.product-content {
  background-color: $content-bg-col;
  font-family: 'Open Sans';
  color: $content-txt-col;

    .container {
      padding: 60px 0;
    }

    &-top {
      width: 100%;
      position: relative;

        img {
          max-width: 95%;
        }

        .title {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);
          font-size: $sect-title-size;
          font-weight: 600;

            span {
              margin: 0 25px;
            }

            a {
              color: $content-txt-col;
            }
        }
    }
    &-bottom {
      line-height: 2em;
    }
}
