@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Teko:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  width: 100vw;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.top-bar {
  font-family: 'Teko';
  font-size: 28px;
  text-align: center;

    a {
      color: #000;
    }

    &-menu ul {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        padding: 10px 22px;
      }

      li:hover {
        background-color: #B2E5FC;
      }
    }

    &-logo {
      padding: 40px 0;
      max-height: 220px;

        img {
          max-width: 100%;
        }
    }
}

.home-content {
  background-image: url('/img/00-bg.jpg');
  background-size: 100%;

    &-products {
      font-family: 'Open Sans';

        h2 {
          padding: 30px 0;
          font-size: 32px;
          font-weight: 600;
          color: #002D73;
          text-shadow: 1px 1px 8px #FFF;
          text-transform: uppercase;
        }

        &-list {
          display: flex;
          flex-wrap: wrap;

            li {
              width: calc(100% / 3);
              padding: 10px;

                img {
                  max-width: 100%;
                  box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
                }
            }
        }
    }
}
