// Goolge Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Teko:wght@300;400;500&display=swap');
// Fontawesome
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import 'partials/_vars.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  width: 100vw;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  font-size: $main-txt-size;
  margin: auto;
}

.img-resp {
  max-width: 100%;
}

.top-bar {
  font-family: $font-titles;
  text-align: center;

    a {
      color: $top-links-col;
    }

    &-menu {

      &-hamb {
        text-align: center;
        font-size: $top-txt-size;

        @media (min-width: 992px) {
          display: none;
        }
      }

      &-list {
        display: none;
        justify-content: center;
        align-items: center;
        font-size: $top-txt-size;

        li {
          padding: 10px 22px;
          transition: 0.4s
        }

        li:hover {
          background-color: $top-hov-links-col;
        }

        @media (min-width: 992px) {
          display: flex;
        }
      }
    }


    &-logo {
      padding: 40px 0;
      max-height: 220px;
    }
}

.home-content {
  background-image: url('/img/00-bg.jpg');
  background-size: 100%;
  animation: fadeIn ease 2s;

    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

    &-products {
      font-family: $font-maintxt;

        h2 {
          padding: 30px 0;
          font-size: $home-title-size;
          font-weight: 600;
          color: $content-txt-col;
          text-shadow: 1px 1px 8px #FFF;
          text-transform: uppercase;
        }

        &-list {
          display: flex;
          flex-wrap: wrap;

            li {
              padding: 10px;

                @media (min-width: 768px) {
                  width: calc(100% / 2);
                }

                @media (min-width: 992px) {
                  width: calc(100% / 3);
                }

                img {
                  max-width: 100%;
                  box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
                }
            }
        }
    }
}

.product-content {
  background-color: $content-bg-col;
  font-family: $font-maintxt;
  color: $content-txt-col;

    .container {
      padding: 60px 0;
    }

    &-top {
      width: 100%;
      position: relative;

        img {
          max-width: 95%;
        }

        .title {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);
          font-size: $sect-title-size;
          font-weight: 600;

            span {
              margin: 0 25px;
              text-transform: capitalize;
            }

            a {
              color: $content-txt-col;
            }
        }
    }
    &-bottom {
      line-height: 2em;
    }
}

.footer {
  background: url('/img/02-footer.jpg') bottom left no-repeat;
  background-size: 100%;

    .container {
      display: flex;
      flex-wrap: wrap;
      padding-top: 60px;
      padding-bottom: 90px;
      font-family: $font-maintxt;
      color: $footer-links-col;

        a {
          color: $footer-links-col;
        }
    }

    &-credits {
      width: 100%;
      padding: 0 15px;

        @media (min-width: 992px) {
          width: 35%;
        }

        .logo {
          max-height: 240px;
          margin-bottom: 15px;
        }
    }

    &-menu {
      width: 100%;

        @media (min-width: 992px) {
          width: 65%;
          display: flex;
          flex-wrap: wrap;
        }

        ul {
          width: 50%;
          padding: 0 15px;
          margin-bottom: 20px;
        }

        .title {
          margin-bottom: 10px;
          font-family: $font-titles;
          font-size: $top-txt-size;
          text-transform: uppercase;
        }
    }
}
