@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Teko:wght@300;400;500&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  width: 100vw;
  max-width: 100%;
  -webkit-animation: fadeIn ease 2s;
          animation: fadeIn ease 2s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  font-size: 15.5px;
  margin: auto;
}

.img-resp {
  max-width: 100%;
}

.top-bar {
  font-family: "Teko";
  text-align: center;
}
.top-bar a {
  color: #000000;
}
.top-bar-menu-hamb {
  text-align: center;
  font-size: 1.8em;
}
@media (min-width: 992px) {
  .top-bar-menu-hamb {
    display: none;
  }
}
.top-bar-menu-list {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
}
.top-bar-menu-list li {
  padding: 10px 22px;
  transition: 0.4s;
}
.top-bar-menu-list li:hover {
  background-color: #B2E5FC;
}
@media (min-width: 992px) {
  .top-bar-menu-list {
    display: flex;
  }
}
.top-bar-logo {
  padding: 40px 0;
  max-height: 220px;
}

.home-content {
  background-image: url("/img/00-bg.jpg");
  background-size: 100%;
}
.home-content-products {
  font-family: "Open Sans";
}
.home-content-products h2 {
  padding: 30px 0;
  font-size: 2em;
  font-weight: 600;
  color: #002D73;
  text-shadow: 1px 1px 8px #FFF;
  text-transform: uppercase;
}
.home-content-products-list {
  display: flex;
  flex-wrap: wrap;
}
.home-content-products-list li {
  padding: 10px;
}
@media (min-width: 768px) {
  .home-content-products-list li {
    width: calc(100% / 2);
  }
}
@media (min-width: 992px) {
  .home-content-products-list li {
    width: calc(100% / 3);
  }
}
.home-content-products-list li img {
  max-width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.product-content {
  background-color: #B7DAE5;
  font-family: "Open Sans";
  color: #002D73;
}
.product-content .container {
  padding: 60px 0;
}
.product-content-top {
  width: 100%;
  position: relative;
}
.product-content-top img {
  max-width: 95%;
}
.product-content-top .title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.5em;
  font-weight: 600;
}
.product-content-top .title span {
  margin: 0 25px;
  text-transform: capitalize;
}
.product-content-top .title a {
  color: #002D73;
}
.product-content-bottom {
  line-height: 2em;
}

.footer {
  background: url("/img/02-footer.jpg") bottom left no-repeat;
  background-size: 100%;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 90px;
  font-family: "Open Sans";
  color: #848D9B;
}
.footer .container a {
  color: #848D9B;
}
.footer-credits {
  width: 100%;
  padding: 0 15px;
}
@media (min-width: 992px) {
  .footer-credits {
    width: 35%;
  }
}
.footer-credits .logo {
  max-height: 240px;
  margin-bottom: 15px;
}
.footer-menu {
  width: 100%;
}
@media (min-width: 992px) {
  .footer-menu {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
  }
}
.footer-menu ul {
  width: 50%;
  padding: 0 15px;
  margin-bottom: 20px;
}
.footer-menu .title {
  margin-bottom: 10px;
  font-family: "Teko";
  font-size: 1.8em;
  text-transform: uppercase;
}
