* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  width: 100vw;
  max-width: 100%;
}

.top-bar {
  padding: 20px;
  text-align: center;
}
.top-bar-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-bar-menu ul li {
  margin: 0 10px;
}

.main {
  text-align: center;
}
.main img {
  width: 35%;
}
