$top-links-col: #000000;
$top-hov-links-col: #B2E5FC;
$content-bg-col: #B7DAE5;
$content-txt-col: #002D73;

$main-txt-size: 15.5px;
$top-txt-size: 1.8em;
$home-title-size: 2em;
$sect-title-size: 1.5em;
